{{>layout/header}}
    <h2>회원정보 입력</h2>
    <form action="/signup" method="post">
        <div>* 이름 : <input type="text" name="name" id="name"></div>
        <div>* 이메일 : <input type="text" name="email" id="email"></div>
        <div>* 비밀번호 : <input type="password" name="password" id="password"></div>
        <input type="submit">
    </form>
{{>layout/footer}}